
@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,300,400,400i,500,600,700,800,900');

html,body{
    /* background-color: #333333 */
    position: absolute;
    padding-left: 0;
    margin: 0;
    background-color: #333333;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}

.graph_container{

margin-top: 5%;
align-items: center;
  display: flex;
  justify-content: center;

}

header{
    margin:0;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color:  #333333;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-top:10px;
    
}

nav h1{
    font-size: 2.5em;
    color: rgb(2, 245, 99);
    /* color: #00E95F; */
}

nav{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #333333
    
}

a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
}

.container ul
{
    list-style-type: none;
}

nav ul{
    display: flex;
}

nav ul li a {
    padding-left: 20px;
    margin: 0 35px;
}



div.tooltip {	
    position: absolute;			
    text-align: center;	
    min-height: 20px;
    overflow: hidden;		
    width: 80px;					  					
    padding: 2px;				
    font: 12px sans-serif;		
    background: whitesmoke;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.legend{
    margin-top: 7%;
    height: 40px;
    width: 100%;
    
}

.legend ul
{
    padding: 0;
    margin: 0 ;
    display: flex;
    justify-content: space-around;
}

.legend li
{
    padding: 0 20px;
    width: 30px;
    height: 30px;
}

.legend-child{
    

    
}


.legend-rect-class{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #F2C94C;
}

.legend-rect-hip{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #EB5757;
}

.legend-rect-pop{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #F2994A;
}

.legend-rect-elec{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: rgb(188, 235, 87);
}

.legend-rect-love{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: rgb(235, 87, 188);
}

.legend-rect-country{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #6FCF97;
}

.legend-rect-rock{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #9B51E0;
}

.legend-rect-metal{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #56CCF2;
}









.legend-text{
    padding-left: 10px;
    float: left;
}

.test_align{
    margin-top: 10px;
    background-color: coral;
    height: 50px;
    width: 100%;
}

.element{

    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-weight: 500;
}


.container{
    /* background-color: #333333; */
    width: 90%;
    margin: 0 auto;
    z-index: -1;
    
}

.about-cnt{
    color: white;
    
    width: 50%;
    margin: 0 auto;
    margin-top: 130px;
    z-index: -1;


}

.about-cnt p{
    line-height: 1.5em;
    font-size: 1.1em;
}

/* .about-cnt img{
    width: 70%;
    height: auto;
} */

.img-rows
{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
}

.img-cols{
    flex:40% ,60%;
    /* background-color: yellow; */
    text-align: center;
    margin-bottom: 30px;
    margin-top:30px;
    
}

.img-spot{
    display: inline-block;
    width: 80%;
    height: auto;
    
    
}

.img-app{
    width: 100%;
    align-items: center;
    height: auto;
}

.about-cnt h1{
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    text-align: center;
    font-size: 2.5em;
}

.about-cnt h2{
    margin: 50px 0;
    font-size: 2em;
}

.disqus_cnt{
    margin-top: 80px;
}

.exmp{
    margin-top: 30px;
    margin-bottom: 0px;
    width:100%;
    height: auto;
}

.pop-side-audio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:40%;
}

.metal-side-audio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:40%
}

.audio-ex{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    
}

.audio-caption{
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
    color: #CDC6BF;

}

figcaption{
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
    color: #CDC6BF;
    margin-bottom: 50px;
}



.wrap-modal{
    position: relative;
}


.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
}

.show-modal-content {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;

    opacity: 1;
    visibility: visible;

}


.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}

.trigger{
    float: right;
    margin-top:20px;
    background-color: transparent;
    border: transparent;
    height: 50px;
    width: 100px;
}

.trigger img{
   
    -webkit-filter: invert(1);
   filter: invert(1);
   height: 35px;
   width: 35px;
  
}