
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');

html,body{
    /* background-color: #333333 */
    position: absolute;
    padding-left: 0;
    margin: 0;
    background-color: #333333;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}

.graph_container{

margin-top: 5%;
align-items: center;
  display: flex;
  justify-content: center;

}

header{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color:  #333333;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-top:10px;
    
}

h1{
    font-size: 2.5em;
    color: rgb(23, 253, 23);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
}

ul
{
    list-style-type: none;
}

nav ul{
    display: flex;
}

nav ul li a {
    padding-left: 20px;
    margin: 0 35px;
}



div.tooltip {	
    position: absolute;			
    text-align: center;	
    min-height: 20px;
    overflow: hidden;		
    width: 80px;					  					
    padding: 2px;				
    font: 12px sans-serif;		
    background: whitesmoke;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

.legend{
    margin-top: 7%;
    height: 40px;
    width: 100%;
    
}

.legend ul
{
    padding: 0;
    margin: 0 ;
    display: flex;
    justify-content: space-around;
}

.legend li
{
    padding: 0 20px;
    width: 30px;
    height: 30px;
}

.legend-child{
    

    
}


.legend-rect-class{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #F2C94C;
}

.legend-rect-hip{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #EB5757;
}

.legend-rect-pop{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #F2994A;
}

.legend-rect-elec{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: rgb(188, 235, 87);
}

.legend-rect-love{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: rgb(235, 87, 188);
}

.legend-rect-country{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #6FCF97;
}

.legend-rect-rock{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #9B51E0;
}

.legend-rect-metal{
    height: 15px;
    width: 15px;
    margin-right: 10px;
    background-color: #56CCF2;
}









.legend-text{
    padding-left: 10px;
    float: left;
}

.test_align{
    margin-top: 10px;
    background-color: coral;
    height: 50px;
    width: 100%;
}

.element{

    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-weight: 500;
}


.container{
    /* background-color: #333333; */
    width: 90%;
    margin: 0 auto;
    z-index: -1;
    
}

.about-cnt{
    margin-top: 100px;
}